#text-wrapper{    
    margin: 0 30px;
    flex-grow: 4;
    top: 0;
    position: sticky;
    height: 50px;
}

#text-body {
    width: 90%;
    height: fit-content;
    max-height: 85vh !important;
    margin: 5vh auto 0 auto;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

#text-header{
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    margin-bottom: 1rem;
}

#text-header h1 {
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    background: linear-gradient(-90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#text-header span {
    font-size: 20px;
    color: #7a7a8c;
    flex-shrink: 0;
}

#text-content {
    flex: 1 1 auto;
    font-size: 20px;
    overflow: auto;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

p {
    margin: 0;
}